/* 
    Document   : style
    Created on : 21.12.2013, 16:23:07
    Author     : Владик
    Description:
        Purpose of the stylesheet follows.
*/

/*
/////////////////////////////////////////////////////
///////////////////    ОСНОВНАЯ РАЗМЕТКА  //////////
///////////////////////////////////////////////////
*/



.row-fluid  div.colum-left {
    position: fixed;
    background-image: url('/media/images/gray.jpg');
    color: #fff;
    width: 180px;
    padding: 10px;
    height: 100%;
}
.row-fluid  div.colum-left li {
    width: 100%;
    list-style-type: none;
    border-bottom:1px solid #000; 
}

.row-fluid  div.colum-left li.active a{
    background-color: #080808;
    color:#fff;
}
.row-fluid  div.colum-left li:hover,.row-fluid  div.colum-left li a:hover  {
    background-color: #080808;
    text-decoration: none;
    color:#fff;
}
.row-fluid  div.colum-left li a {
    display: block;
    color: #000;
    padding: 10px 5px;

}

.row-fluid  div.colum-left ul {
    margin: 0;
}

.container-fluid {
    padding-left:0;
}

.row-fluid {
    min-width: 900px;
    max-width: 1920px;
}

.row-fluid .span9 , div.colum-right {
    margin-left: 200px;
    padding:10px 10px 10px 20px;
    position: relative;
}

#account {
    margin-bottom: 15px;
}

/*
/////////////////////////////////////////////////////
///////////////////    Свойства странички пользователя  //////////
///////////////////////////////////////////////////
*/





span.round {
    display: inline-block;
    width: 14px;
    height: 14px;
    line-height: 14px;
    text-align: center;
    background-color: red;
    color: #fff;
    margin-left: 8px;
    border-radius: 2px; 
} 

/*
///////////////////////////////////////////////////////////////
///////////////////    Свойства странички сообщения  //////////
//////////////////////////////////////////////////////////////
*/


.pm_section {
    overflow: hidden;
    margin: 0 0 10px 0;
    border-bottom: 1px solid #ccc;
}

.pm_section li{
    display: block;
    float: left;
    width: 122px;
    text-align: center;
    height: 15px;
    padding: 10px;
    line-height: 15px;
    border: 1px solid #ccc;
    border-radius: 7px 7px 0 0;
    margin-bottom: -1px;
}
.pm_section li.active,.pm_section li.active a{
    background-color: #000;
    color: #fff;
}

.pm_section li a{
    display: block;
    text-decoration: none; 
    width: 122px;

    height: 15px;
}

.mail_cell {

    overflow: hidden;
    position: relative;

    width: 98%;


}

.mail_cell p.test {
    width: 30%;
    height:20px;
    vertical-align:middle;
    display: table-cell;
}

.mail_cell tr {
    border: 1px solid #ccc;
    margin-bottom: -1px;
    padding: 5px 10px;
    border-radius: 10px; 
}

#load_pm {

    width: 100px;
    margin: 10px auto;
    text-align: center;
    padding: 5px 10px;
    cursor: pointer;
}


.mail_cell .first {
    width: 3%;

    text-align: center;

}

.mail_cell .left_side {
    width: 6%;
    padding: 10px 0;
    text-align: center;

}


.mail_cell .center {
    width: 16%;
    padding: 10px;
    text-align: left;

}

.mail_cell .right_side {
    width: 60%;
    padding: 10px 20px;

}

.mail_cell table {
    font-size: 14px;
}
.mail_cell table td {
    vertical-align: middle;
}


/*
//////////////////////////////////////////////////////////////
///////////////////    ПАНЕЛИ РЕГИСТРАЦИИ И ВХОДА!  //////////
/////////////////////////////////////////////////////////////
*/


.login_background {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-image: url('/media/images/gray.jpg');
}

.login_box {
    margin: 10% auto 0;

    width: 360px;
    padding: 15px;
    text-align: center;
    z-index: 1001;
    background-color: #ccccff;
    border-radius: 22px;
    color: #002a80;
}

.login_box form {
    margin: 0;
}
.login_box  input {
    font-size: 16px;
    height: 35px;
    line-height: 16px;
    padding: 5px 5px;
}
